/* ====================== */
/* 📱 MOBILE RESPONSIVENESS */
/* ====================== */

@media screen {
    .JobCompanyList{
        margin-top: 30px;
        padding: 10px;
    }

      /* 💬 Flex column for mobile input section */
      .InputSection{
        display: flex;
        flex-direction: column;
        align-items:center ;
        gap: 10px;
      }

     /* 💬 Full width input/select/buttons on small screen */

     li{
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        padding: 15px;
        gap: 15px
     }
}